* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  padding: 20px;
}

.ant-tabs, .ant-tabs-content, .ant-tabs-tabpane {
  height: 100%;
}

.ant-tabs-tab-active {
  background: #bdd5ff!important;
}

.ant-tabs-tabpane {
  padding-left: 0!important;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.ant-table-cell {
  white-space: nowrap;
}
